@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>

<p>Orders placed:</p>

@foreach (var order in ViewData["Orders"] as IEnumerable<Beershop.Order>) {
    
    @order.Id

    @order.Processed
}